:root {
  --size-xxl: 48px;
  --size-xl: 36px;
  --size-l: 24px;
  --size-r: 18px;
  --size-s: 12px;
  --golden: #eab308;
  --darkgolden: #bc8209;
  --white: white;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  min-height: 100vh;
  font-size: var(--size-r);
  background: url('./img/banana.webp') no-repeat;
  background-size: contain;
  background-position: center;
}

h1 {
  font-size: var(--size-xxl);
  margin-bottom: var(--size-l);
}

header {
  padding-top: 12px;
  display: flex;
  justify-content: center;
  background-color: var(--golden);
}

header nav {
  display: flex;
  gap: var(--size-l);
}

header nav button {
  font-size: var(--size-l);
  font-weight: bold;
  padding: 18px 36px;
  background-color: var(--golden);
  color: var(--white);
  border: none;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

header nav button.current {
  background-color: var(--white);
  color: var(--golden);
}

#content {
  padding: 5vw;
  color: var(--golden);
}

.container {
  max-width: 800px;
  margin: auto;
  border-radius: var(--size-l);
  padding: var(--size-l);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--size-l);
}

.container .blank-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.5rem;
}

.cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--size-l);
}

.card {
  background-color: var(--white);
  padding: var(--size-l);
  box-shadow: 0px 0px 8px 2px var(--golden);
  border-radius: 8px;
}

.card h2 {
  margin-bottom: var(--size-s);
}

.card-text {
  max-width: 400px;
}

.card-with-img {
  max-width: 800px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: var(--size-r);
}

.card-with-img:nth-child(even) img{
  grid-column-start: 2;
  grid-row-start: 1;
}

.card-with-img img {
  object-fit: cover;
  width: 100%;
  max-height: 200px;
}

.card-with-img .description {
  color: var(--darkgolden);
}

.operating-hour {
  gap: var(--size-s);
}